.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    align-items: flex-end;
}
.header__logo {
    display: block;
    max-width: 174px;
}
.header__logo img {
    width: 100%;
    z-index: 6;
    position: relative;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
    padding-right: 15px;
}

.nav__item {
    position: relative;
    z-index: 1;
}
.link::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -13px;
    background: var(--color-accent);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.link:hover::before {
    opacity: 1;
    visibility: visible;
}

/* =============================== */

.header__welcome {
    padding-bottom: 140px;
    margin-top: 55px;
}
.welcome__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.welcome__content {
    max-width: 519px;
}
.welcome__time {
    display: flex;
    gap: 10px;
    color: #b197b2;
    line-height: 1.6;
    text-transform: uppercase;
    align-items: center;
}
.welcome__title {
    color: var(--color-title);
    font-family: Gabriola;
    font-size: 74px;
    line-height: 0.82;
    margin-top: 20px;
}
.welcome__text {
    display: block;
    max-width: 358px;
    margin-top: 30px;
}
.welcome__button {
    display: block;
    margin-top: 40px;
    max-width: 358px;
}

.welcome__img {
    position: relative;
}
.welcome__img > img {
    width: 100%;
    padding-right: 247px;
}

.welcome__play {
    position: absolute;
    display: block;
    bottom: 46px;
    right: 208px;
}
.welcome__control {
    background: var(--color-light);
    border-radius: 50%;
    height: 78px;
    position: relative;
    width: 78px;
}

.play-icon {
    fill: currentColor;
    height: 40%;
    left: 55%;
    position: absolute;
    stroke: currentColor;
    stroke-width: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}
.welcome__control::before {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 70px;
    height: 70px;
    inset: 4px 0px 0px 4px;
    border: 1px solid var(--color-accent);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.control__text {
    max-width: 112px;
    position: absolute;
    bottom: 48px;
    right: 85px;
}