@import url("./global.css");
@import url("./header.css");
@import url("./burger.css");
@import url("./main.css");
@import url("./modal.css");


/* ======================================================== */
.footer {
    background: #ab8261;
    color: #fff9f4;
}

.footer__inner {
    display: grid;
    grid-template-columns: 0.9fr 1fr 0.9fr 0.7fr;
    padding: 60px 0 60px;
}
.footer__col1 {
    margin-top: -30px;
}

.socials__list {
    display: flex;
    gap: 15px;
    padding-top: 20px;
}
.socials__link path {
    transition: var(--transition);
}
.socials__link:hover path {
    fill: var(--color-accent);
}

.footer__item {
    z-index: 2;
    margin-bottom: 20px;
    position: relative;
}
.footer__item:last-child {
    margin-bottom: 0px;
}

.footer__time {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 10px;
}
.footer__location {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.footer__number a {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    text-transform: uppercase;
    transition: var(--transition);
}
.footer__number:hover a {
    color: var(--color-accent);
}
.footer__copy {
    margin-top: 47px;
    display: flex;
    color: #dec5b1;
    gap: 5px;
}

/* ======================================================== */
@media (max-width: 1200px) {
    .welcome__img > img {
        padding-right: 15px;
    }
    .welcome__play {
        bottom: -83px;
        right: 313px;
    }
    .control {
        position: static;
        display: flex;
        padding-top: 15px;
    }
    .control__text {
        bottom: -78px;
        right: 187px;
    }
    /* ------------------ */
    .about__gift {
        right: 0%;
        bottom: 0%;
        left: 0%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        min-width: 100%;
        padding: 10px 10px;
        align-items: center;
    }
    .gift-btn::before {
        inset: 14px 0px 0px 14px;
    }
    /* ----------------- */
    .purchase__inner {
        gap: 40px;
    }
    /* ----------------- */
    .photo-gallery__inner {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .photo-gallery__content {
        justify-self: center;
    }
    .photo-gallery__nav {
        gap: 10px;
        grid-column: 1/3;
        justify-self: center;
        gap: 50px;
    }
    /* ----------------- */
    .footer__inner {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .feedback__card {
        gap: 15px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .feedback__avatar {
        align-self: center;
    }
    /* --------------- */
    .decor__field {
        top: -80px;
        right: -20px;
    }
}
@media (max-width: 1000px) {
    .header__inner {
        align-items: center;
    }
    .welcome__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
        justify-content: center;
    }
    .welcome__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .welcome__time {
        justify-content: center;
    }
    .control__text {
        right: 90px;
    }
    .welcome__play {
        right: 211px;
    }
    .about__inner {
        flex-direction: column;
        align-items: center;
    }
    .about__img {
        max-width: 400px;
    }
    .about__content {
        text-align: center;
    }
    /* --------------- */
    .program__title {
        text-align: center;
    }
    .program__content {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .accordion-content {
        flex-direction: column;
    }
    /* -------------- */
    .purchase__inner {
        flex-direction: column;
    }
    /* -------------- */
    .registration__inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-content: center;
    }
    .confidentiality {
        text-align: left;
    }
    .registration-container span {
        text-align: left;
    }
    .decor__field {
        top: -80px;
        right: -10px;
    }
}
@media (max-width: 900px) {
    .body--open-menu {
        overflow: hidden;
    }

    .nav {
        position: fixed;
        background: var(--color-light);
        inset: 0;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
        transform: translateY(-50%);
        font-size: 1.2rem;
    }
    .nav__list {
        display: flex;
        flex-direction: column;
        padding: 25vh 100px 0px;
        align-items: center;
    }
    .control {
        padding-top: 15px;
    }
    .body--open-menu .nav {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
    }

    .burger {
        display: flex;
        margin: 20px;
    }
    .program__tab {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .accordion-list__control-title {
        font-size: 32px;
    }
    .accordion-content__col {
        min-width: 250px;
    }
    /* --------------- */
    .photo-gallery__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .photo-gallery__content {
        text-align: center;
    }
    .feedback__inner {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 40px;
    }
    /* ------------- */
    
}

@media (max-width: 600px) {
    .welcome__title {
        font-size: 50px;
    }
    .control {
        position: static;
        display: flex;
        padding-top: 15px;
    }

    .socials__list {
        justify-content: center;
    }
    /* ------------------------- */
    .main__about {
        padding-top: 70px;
    }
    .about__card {
        grid-template-columns: 1fr;
    }
    .about__img {
        max-width: 300px;
    }

    .about__item {
        text-align: left;
    }
    .program__tab {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    /* ------------------------- */
    .purchase__info {
        gap: 20px;
        margin-bottom: 20px;
    }
    /* ------------------------- */
    .feedback__slide.swiper-slide.swiper-slide-active {
        padding: 0 40px 0 40px;
    }

    /* ------------------------- */
    .footer {
        margin-top: 70px;
    }
    .footer__inner {
        grid-template-columns: none;
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .footer__col3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .nav__list {
        padding: 25vh 50px 0px;
        align-items: center;
        text-align: center;
        font-size: 0.8em;
    }
    .about__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .gift-btn::before {
        inset: 284px 0px 0px 14px;
    }
    .about__gift {
        position: static;
        display: flex;
        align-items: center;
    }
    .about__title {
        font-size: 55px;
    }
    /* ---------------- */
    .purchase__info {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .purchase__price {
        gap: 20px;
    }
}

@media (hover: hover) {
    .button:hover {
        background: #ff9138;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .accordion-list__control:hover div {
        background: #ff9138;
    }
    .accordion-list__control:hover svg {
        transform: rotate(90deg);
    }
    .accordion-list__control:hover path {
        fill: #fff9f4;
    }

    .welcome__control:hover::before {
        opacity: 1;
        visibility: visible;
    }

    .gift-btn:hover::before {
        opacity: 1;
        visibility: visible;
    }
    .photo-gallery__prev svg,
    .photo-gallery__next svg {
        transition: var(--transition);
    }
    .photo-gallery__prev:hover svg,
    .photo-gallery__next:hover svg {
        fill: var(--color-accent);
    }

    .photo-gallery__prev path,
    .photo-gallery__next path {
        transition: var(--transition);
    }
    .photo-gallery__prev:hover path,
    .photo-gallery__next:hover path {
        fill: #fff9f4;
    }

    .feedback__prev svg,
    .feedback__next svg {
        transition: var(--transition);
    }
    .feedback__prev:hover svg,
    .feedback__next:hover svg {
        fill: var(--color-accent);
    }

    .feedback__prev path,
    .feedback__next path {
        transition: var(--transition);
    }
    .feedback__prev:hover path,
    .feedback__next:hover path {
        fill: #fff9f4;
    }
    .input:hover {
        border: 1px solid var(--color-accent);
    }
    .input:hover::placeholder {
        color: var(--color-accent);
    }
    .input:hover:focus::placeholder {
        opacity: 0;
    }
    .registration__input:hover {
        border: 1px solid var(--color-accent);
    }
    .registration__input:hover::placeholder {
        color: var(--color-accent);
    }
    .registration__input:hover:focus::placeholder {
        opacity: 0;
    }
    .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
        border-color: #ffa55c;
    }
}
